<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <!--link rel="stylesheet" href="bootstrap/bootstrap.min.css" /-->
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Olanike.styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
    <HeadOutlet />
    <meta name="author" content="DARA_KEMAL_WOROU">
    <meta name="description" content="Olanike ONG, dédiée à l’autonomisation des filles mères au Bénin, propose des formations professionnelles dans des domaines variés tels que la coiffure et l’esthétique. Notre mission est d’améliorer la qualité de vie de ces femmes en leur fournissant les compétences nécessaires pour leur autonomie financière. Nous soutenons également la scolarisation des enfants, car nous croyons que le bien-être de la mère est essentiel à celui de l’enfant.">
    <meta name="keywords" content="Fille mère, Réinsertion, Enfants, Éducation formelle, Formations professionnelles, Autonomie financière, Qualité de vie, Benin">
    <script>
        customElements.defineclone = Object.assign(Object.create(Object.getPrototypeOf(customElements)).define, customElements);
        customElements.define = (name, element) => customElements.get(name) || customElements.defineclone(name, element);
        function reloadIt() {
            if (window.location.href.substr(-2) !== "?r") {
                window.location = window.location.href + "?r";
            }
        }
    </script>
</head>
<body>
    <Routes />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/vendors.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="./_framework/blazor.web.js" autostart="false"></script>
</body>

</html>
